- @title = 'Dekstop – R18n'
- @keywords += ['desktop', 'jruby', 'application']
- @description = 'A wrap for R18n to internationalize and localize your ruby desktop application'
%h1 R18n for Desktop applications
= part('r18n-desktop', 'How To')
