- @title = 'R18n – Ruby I18n for Rails, Sinatra and desktop'
- @description = 'R18n is a tool to internationalize and localize your Rails, Sinatra or desktop Ruby application'
- @keywords += @config['locales']
%p
  R18n is an tool to internationalize and localize your Rails, Sinatra or desktop
  Ruby application.
%h1 Why R18n?
= pick_up_headers part('r18n-core', 'Features')
%h2 Locales
R18n support #{@config['locales'][0..-2].join(', ')} and
#{@config['locales'].last} languages. And you can easy
<a href="tutorial.html#add">add you own locale</a>.
