- @title = 'R18n – Ruby I18n for Rails, Sinatra and desktop'
- @description = 'R18n is a tool to internationalize and localize your Rails, Sinatra or desktop Ruby application'
%p
  R18n is a tool to internationalize and localize your Rails, Sinatra or desktop
  Ruby application.
%h1 Why R18n?
= pick_up_headers part('r18n-core', 'Features')
