- @title = 'Ruby on Rails – R18n'
- @keywords += ['rails', 'ruby on rails', 'plugin', 'web']
- @description = 'Rails plugin to out-of-box R18n support for Rails I18n'
%h1 R18n for Ruby on Rails
%h2 Install
%pre gem install r18n-rails
%h2 Featutes
= part('r18n-rails', 'Features')
%h2 How To
= part('r18n-rails', 'How To')
