- @title = 'Sinatra – R18n'
- @keywords += ['sinatra', 'web']
- @description = 'Sinatra extension for i18n support to localize your web application'
%h1 R18n for Sinatra
%h2 Install
%pre gem install sinatra-r18n
%h2 How To
= part('sinatra-r18n', 'How To')
%h2 Configuration
= part('sinatra-r18n', 'Configuration')
