- @title = 'Sinatra – R18n'
- @keywords += ['sinatra', 'web']
- @description = 'Sinatra extension for i18n support to localize your web application'
%h1 R18n for Sinatra
= part('sinatra-r18n', 'How To')
