- @title = 'R18n – Ruby I18n for Rails, Sinatra and desktop'
- @keywords += ['tutorial', 'how to', 'filters']
- @description = 'Tutorial for R18n to internationalize and localize Ruby application'
%h1 Tutorial for R18n core
%p
  See plugin for your environment (Rails, Sinatra or desktop) to autodetect user
  locale and load I18n object.
= pick_up_headers part('r18n-core', 'Usage')
