!!! Strict
%html{ html_attrs('en') }
  %head
    %meta( http-equiv='Content-Type' content='text/html; charset=UTF-8' )
    %title= @title
    %link( rel='stylesheet' type='text/css' href='style.css' )
    %link( rel='shortcut icon' type='image/x-icon' href='favicon.ico' )
    %meta{ :name => 'Keywords', :content => @keywords.join(', ') }
    %meta{ :name => 'Description', :content => @description }
  %body
    #ribbon
      %a( href='http://github.com/ai/r18n' )
        %div Fork me on GitHub
    #header
      %div
        %a#name( href='index.html' ) <strong>R</strong>18n →
        %ul#menu
          - @config['menu'].map { |i| i.first }.each do |name, title|
            %li{ selected_if_eql(@page, name) }<
              %a{ :href => "#{name}.html" }= title
    #content
      = @content
