@import compass/css3

!red = #9a0000
!menu = 5.5ex
!width = 35em

*
  margin: 0
  padding: 0
body
  font-family: "Droid Sans", sans-serif
  line-height: 140%
#header
  color: white
  background-color: black
  +box-shadow(0, 0, 1ex, #888)
  min-height= !menu
  line-height= !menu
  div
    width= !width
    max-width: 100%
    margin: 0 auto
    padding: 0 0.5em 0 2em
  ul, li
    display: inline
  #name, li a
    display: inline-block
  a
    color: white
    text-decoration: none
    span
      font-size: 140%
  #name
    font-weight: bold
    padding-right: 0.8em
    strong
      color= !red
  li
    a
      padding: 0 0.25em
      text-shadow: 1px 1px 0 #777
    a:hover
      text-decoration: underline
  .selected
    a
      background= !red
      +linear-gradient(color_stops(!red, #880000))
#content
  width= !width
  max-width: 100%
  margin: 0 auto
  padding: 2ex 0.5em 2ex 2em
h1, h2, h3, h4
  margin: 1.5ex 0 -0.2ex 0
  line-height: 120%
h1
  margin-top: 0.5ex
pre
  border-left= 0.2em "solid" !red
  margin: 0.8ex 0 1.5ex -1em
  padding-left: 0.9em
  line-height: 130%
  .comment
    color= !red
  .type
    font-weight: bold
ol li, p
  margin-top: 1ex
ol ol li
  list-style-type: lower-alpha
#ribbon
  float: right
  overflow: hidden
  height: 10em
  a
    display: block
    text-decoration: none
    font-size: 85%
    font-weight: bold
    letter-spacing: -0.1px
    padding: 0.12em 0
    position: relative
    top: 3.2em
    right: -3.2em
    +rotate(45)
    background= !red
    +linear-gradient(color_stops(!red, #a90000))
    color: white
    +box-shadow(0px, 0px, 1.5ex, #888)
    div
      width: 15em
      border: 1px solid #cf7070
      border-width: 1px 0
      text-align: center
  a:hover div
    text-decoration: underline

@media print
  #header, #ribbon
    display: none
  #content
    width: 100%
  pre
    border-color: gray
    .comment
      color: gray
